.sidebar {
  flex: 3;
  height: calc(95vh - 50px);
  overflow-y: scroll;
}

::-webkit-scrollbar {
  width: 7px;
  min-height: 3rem;
}

.sidebar::-webkit-scrollbar-track {
  background: transparent;
}
.sidebar::-webkit-scrollbar-thumb {
  background: transparent;
}

:hover::-webkit-scrollbar-track {
  background: #f1f1f1;
}

:hover::-webkit-scrollbar-thumb {
  background: rgb(179, 179, 179);
}

.sidebarWrapper {
  padding: 20px;
}

.sidebarList {
  padding: 0;
  margin: 0;
  list-style: none;
}

.sidebarListItem {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.sidebarIcon {
  margin-right: 15px;
}

.sidebarButton {
  width: 150px;
  border: none;
  padding: 10px;
  border-radius: 5px;
  font-weight: 500;
}

.sidebarHr {
  margin: 20px 0;
}

.sidebarFriendList {
  padding: 0;
  margin: 0px;
  list-style: none;
}
